/*.footer {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*!* Set the fixed height of the footer here *!*/
    /*height: 60px;*/
    /*background-color: #f5f5f5;*/
/*}*/
html,body { height: 100%; }
#sticky-wrap { min-height: 100%; }
.footer {
    height: 160px;
    margin-top: -160px;
}